/*
 * Segment Styles
 */
$segmentBackgroundColor: $primary;
$segmentBorderColor: $primary;
$segmentTextColor: $primary;
$segmentTextColor_active: $font-light;
.segment {
  width: 100%;
  display: flex;

  &-item {
    text-align: center;
    font-size: 1.4rem;
    display: inline-block;
    width: 50%;
    border: 1px solid $segmentBorderColor;
    border-right: none;
    color: $segmentTextColor;

    &.router-link-active {
      background-color: $segmentBackgroundColor;
      color: $segmentTextColor_active;
    }

    &:first-child {
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
    }

    &:last-child {
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      border-right: 1px solid $segmentBorderColor;
    }
  }
}

/*
 * Buttons Styles
 */
$buttonTextColor: $font-light;
$buttonBackgroundColor: $accent;
.button {
  background-color: $buttonBackgroundColor;
  color: $buttonTextColor;
  border: none;
  font-size: 1.4rem;
  transition: background-color .15s ease;

  &.small {
    font-size: 1rem;
  }

  &.big {
    font-size: 1.8rem;
  }

  &.rounded {
    border-radius: 4px;
  }

  &:hover {
    background-color: lighten($buttonBackgroundColor, 15%);
  }

  &[disabled] {
    background-color: darken($buttonBackgroundColor, 15%);
    color: darken($buttonTextColor, 15%);
    pointer-events: none;
  }
}
