@mixin icon-url($name) {
  background: url("./assets/images/icons/icon-#{$name}.png") no-repeat center;
  background-size: contain;
}

.Icon {
  width: 36px;
  height: 36px;
  display: inline-block;

  &-small {
    width: 28px;
    height: 28px;
  }

  &-Favourite {
    @include icon-url('favourite');

    &-empty {
      @include icon-url('favourite-empty');
    }
  }

  &-Info {
    @include icon-url('info');
  }

  &-ThumbUp {
    @include icon-url('thumb_up');
  }

  &-ThumbDown {
    @include icon-url('thumb_down');
  }

  &-Heart {
    @include icon-url('heart');

    &-empty {
      @include icon-url('heart-empty');
    }
  }

  &-Details {
    @include icon-url('details')
  }

  &-Home {
    @include icon-url('home');
  }

  &-Settings {
    @include icon-url('settings');
  }

  &-Games {
    @include icon-url('games');
  }

  &-Pulse {
    @include icon-url('pulse');
  }

  &-Platforms {
    @include icon-url('platforms');
  }

  &-Discover {
    @include icon-url('discover');
  }
}
