@mixin icon-url($name) {
  background: url("./assets/images/icons/icon-#{$name}.png") no-repeat center;
  background-size: contain;
}

.Icon {
  width: 36px;
  height: 36px;
  display: inline-block;

  &-Favourite {
    @include icon-url('favourite');

    &-empty {
      @include icon-url('favourite-empty');
    }
  }

  &-Home {
    @include icon-url('home');
  }

  &-Settings {
    @include icon-url('settings');
  }

  &-Games {
    @include icon-url('games');
  }

  &-Pulse {
    @include icon-url('pulse');
  }

  &-Platforms {
    @include icon-url('platforms');
  }

  &-Discover {
    @include icon-url('discover');
  }
}
