@mixin app-icon($name) {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url("./assets/images/icons/icon-#{$name}.png") no-repeat center;
  background-size: contain;
}

.icon {

  &-home {
    @include app-icon('home');
  }

  &-settings {
    @include app-icon('settings');
  }

  &-games {
    @include app-icon('games');
  }

  &-pulse {
    @include app-icon('pulse');
  }

  &-platforms {
    @include app-icon('platforms');
  }

  &-discover {
    @include app-icon('discover');
  }
}
