@import "mixins";
@import "variables";

// App general layout
body {
  background: linear-gradient(to right, #e2e2e2 1%, #ffffff 50%, #e2e2e2 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  color: #2c3e50;
}

.wrapper {
  margin-top: 49px;
  width: 92%;
  margin-left: auto;
  margin-right: auto;

  @include responsiveMinWidth($bp-desktop) {
    width: $bp-desktop;
  }
}
