@mixin app-icon($name) {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: url("./assets/images/icons/icon-#{$name}.png") no-repeat center;
  background-size: contain;
}

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
