@import "variables";

@mixin responsiveMinWidth($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin responsiveCardLayout($gutter) {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .card-item {
    width: 100%;
  }

  // 2 items in tablet mode
  @include responsiveMinWidth($bp-tablet - 1) {
    .card-item {
      width: calc(50% - #{$gutter / 2});
    }
  }

  // 3 items grid in desktop mode
  @include responsiveMinWidth($bp-desktop - 1) {
    .card-item {
      width: calc( ( 100% / 3 ) - #{(2 / 3 ) * $gutter});
    }
  }
}

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
