// fade transition
.fade-enter-active {
  transition: all .3s ease;
}
.fade-leave-active {
  transition: all .3s ease;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
}

// slide-fade transition
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-active {
  opacity: 0;
}

.slide-fade-enter {
  transform: translateX(60px);
}

.slide-fade-leave-active {
  transform: translateX(-60px);
}

// bottom-push transition
.bottom-push-enter-active {
  transition: all .5s ease-in;
}
.bottom-push-leave-active {
  transition: all .5s ease-out;
}
.bottom-push-enter, .bottom-push-leave-active {
  transform: scaleY(0);
  opacity: 0;
}

// modal fade transition
.modal-fade-enter-active, .modal-fade-leave-active {
  z-index: 25;
}

.modal-fade-enter-active {
  transition: all .1s ease-in;
}

.modal-fade-leave-active {
  transition: all .1s ease-out;
}

.modal-fade-enter, .modal-fade-leave-active {
  opacity: 0;
}
