// BREAKPOINTS
$bp-mobile: 320px;
$bp-tablet: 768px;
$bp-desktop: 1024px;

// APPLICATION COLORS
$primary: #ff5f6d;
$accent: #3cd3ad;

$font-light: #ffffff;
$font-dark: #414345;

$bg-light: #e6e6e6;
$bg-dark: #343434;

// GRADIENTS
//TODO : add gradients
