/*
 * Buttons Styles
 */

$buttonTextColor: $font-light;
$buttonBackgroundColor: $accent;
.Button {
  background-color: $buttonBackgroundColor;
  color: $buttonTextColor;
  border: none;
  font-size: 1.4rem;
  transition: background-color .15s ease;

  &-small {
    font-size: 1rem;
  }

  &-big {
    font-size: 1.8rem;
  }

  &-rounded {
    border-radius: 4px;
  }

  &-full {
    width: 100%;
  }

  &:hover {
    background-color: lighten($buttonBackgroundColor, 15%);
  }

  &[disabled] {
    background-color: darken($buttonBackgroundColor, 15%);
    color: darken($buttonTextColor, 15%);
    pointer-events: none;
  }
}
